name: Snowflake Deployment

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Install SnowCLI
      run: |
        pip install snowflake-cli-labs

    - name: Test Snowflake Connection
      run: |
        snow sql \
          --account "${{ secrets.SF_ACCOUNT }}" \
          --user "${{ secrets.SF_USER }}" \
          --password "${{ secrets.SF_PASSWORD }}" \
          --role ACCOUNTADMIN \
          --warehouse COMPUTE_WH \
          --database RAJU_SNOWFLAKE_DB \
          --schema RAJU_SNOWFLAKE_SCHEMA \
          -q "SELECT CURRENT_USER(), CURRENT_ROLE();"

    - name: Deploy SQL Files
      run: |
        for file in sql/*.sql; do
          snow sql \
            --account "${{ secrets.SF_ACCOUNT }}" \
            --user "${{ secrets.SF_USER }}" \
            --password "${{ secrets.SF_PASSWORD }}" \
            --role ACCOUNTADMIN \
            --warehouse COMPUTE_WH \
            --database RAJU_SNOWFLAKE_DB \
            --schema RAJU_SNOWFLAKE_SCHEMA \
            -f "$file"
        done
