name: Snowflake Deployment

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Install SnowCLI
      run: |
        pip install snowflake-cli-labs

    - name: Deploy SQL Files
      env:
        SNOWFLAKE_ACCOUNT: ${{ secrets.SF_ACCOUNT }}
        SNOWFLAKE_USERNAME: ${{ secrets.SF_USER }}
        SNOWFLAKE_PASSWORD: ${{ secrets.SF_PASSWORD }}
        SNOWFLAKE_ROLE: ACCOUNTADMIN
        SNOWFLAKE_WAREHOUSE: COMPUTE_WH
        SNOWFLAKE_DATABASE: RAJU_SNOWFLAKE_DB
        SNOWFLAKE_SCHEMA: RAJU_SNOWFLAKE_SCHEMA
      run: |
        snow sql -q "USE ROLE ACCOUNTADMIN;"
        for file in sql/*.sql; do
          snow sql -f "$file"
        done
