- name: Install SnowCLI
  run: |
    pip install snowflake-cli-labs

- name: Run Deployments
  run: |
    snow sql -q "USE ROLE ACCOUNTADMIN;"
    snow sql -f sql/stage_tables.sql
    snow sql -f sql/metadata_tables.sql
    snow sql -f sql/stored_procedures.sql
    snow sql -f sql/orchestrator.sql
  env:
    SNOWFLAKE_ACCOUNT: ${{ secrets.SF_ACCOUNT }}
    SNOWFLAKE_USERNAME: ${{ secrets.SF_USER }}
    SNOWFLAKE_PASSWORD: ${{ secrets.SF_PASSWORD }}
    SNOWFLAKE_ROLE: ACCOUNTADMIN
    SNOWFLAKE_WAREHOUSE: COMPUTE_WH
    SNOWFLAKE_DATABASE: RAJU_SNOWFLAKE_DB
    SNOWFLAKE_SCHEMA: RAJU_SNOWFLAKE_SCHEMA
